@import "colores.css";

.piePagina{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--azul-claro);
    height: 260px;
    gap: .6rem;
}
.piePagina__logo{
    background:no-repeat center url("../img/logo-footer.svg");
    width: 200px;
    height: 200px;
}

.piePagina p{
    font-size: 1.2rem;
    margin: 0;
    color: var(--blanco);
    /* text-shadow: .45px .45px .45px var(bla); */
}
