@import "colores.css";

.encabezado{
    display:flex;
    flex-direction: row;
    background-color: var(--azul-oscuro);
    height: 55px;
    color: var(--blanco);
    font-size: 1.2rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.7rem;
}

.encabezado__titulo{
    font-size: 2rem;
}

.encabezado__navegacion{
    width: 390px;
}

.navegacion__menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    height: 100%;
}

.navegacion__menu--item{
    display: flex;
    
}

.navegacion__item--enlace{
    color: var(--blanco);
    text-decoration: none;
    opacity: .7;
    transition: .3s;
}
.navegacion__item--enlace:hover{
    opacity: 1;
}
