@import "colores.css";

.banners{
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 500px;
    width: 100%;
    justify-content: center; 
}

.banner{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: 100%;
    background-size: cover;
    
    width: 100%;
}
.banner1{
    background-image: linear-gradient(#0aa1dd35, #0aa1dd58),url('../img/stefan-stefancik-5p_7M5MP2Iw-unsplash.jpg');
    background-position: top;
    right: 0%;
}
/* .bannerA1{
    animation:animacion1 16s alternate infinite ease-in-out;
    
}
@keyframes animacion1{
    0% {right: 0%;}
	20% {right: 0%;}
	
	25% {right: 0%;}
	45% {right: 0%;}
	
	50% {right: 100%;}
	70% {right: 100%;}
	
	75% {right: 100%;}
	100% {right: 100%;}
} */
.banner2{
    background-image: linear-gradient(#79d9e87a, #79d9e876),url('../img/emma-simpson-mNGaaLeWEp0-unsplash.jpg');
    background-position: bottom;
    left: 100%;
}
/* .bannerA2{
    animation:animacion2 16s alternate infinite ease-in-out;
}
@keyframes animacion2{
    0% {left: 100%;}
	20% {left: 100%;}
	
	25% {left: 100%;}
	45% {left: 100%;}
	
	50% {left: 0%;}
	70% {left: 0%;}
	
	75% {left: 0%;}
	100% {left: 0%;}
} */

.banner__contenido{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* left: 7rem; */
}
.banner1__contenido{
    order: 1; 
    left: 7rem;
}
.banner2__contenido{
    order: 2;
    right: 5rem;
}

.banner__titulo{
    color: var(--blanco);
    font-size: 3rem;
    width: 510px;
    text-shadow: 2px 2px 2px var(--negro);
}

.banner__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--blanco);
    width: 250px;
    height: 50px;
   
    border-radius: 25px;
    transition: all .4s;
    /* box-shadow: 2.5px 1.5px 2px var(--negro); */
}
.banner1__btn{
    border: 0.2rem solid var(--azul-oscuro);
}
.banner2__btn{
    border: 0.2rem solid var(--blanco);
}

.banner__btn:hover{
    text-shadow: none;
    box-shadow: 1.8px 1.8px 2px var(--negro);
    cursor: pointer;
}
.banner1__btn:hover{
    background-color: var(--azul-oscuro);
    color: var(--blanco);
}
.banner2__btn:hover{
    background-color: var(--blanco);
    color: var(--negro);
}

.banner__patrocinador{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #fffff3e6 ;
    width: 238px;
    height: 238px;
    border-radius: 50%;
}
.banner1__patrocinador{
    order: 2;
    right: 7rem;
}
.banner2__patrocinador{
    order:1;
    left: 7rem;
}

.banner__patrocinador__img{
    display: flex;
    background-image: url("../img/artworks-000071160325-45qoa7-t500x500.svg") ;
    width: 158px;
    height: 158px;
    background-repeat: no-repeat;    
}

.arrow {
	position: absolute;
	top: 50%;
	width: 2.5rem;
	height: 2.5rem;
	background: transparent;
	border-top: 1.2vmin solid white;
	border-right: 1.2vmin solid white;
	box-shadow: 0 0 0 lightgray;
	transition: all 200ms ease;
    cursor: pointer;
}
.arrow:hover {
    border-color: var(--azul-oscuro);
    box-shadow: 0.5vmin -0.5vmin 0 white;
}
.arrow__right{
    right: 30px;
	transform: translate3d(0,-50%,0) rotate(45deg);
}
.arrow__left{
    left: 30px;
	transform: translate3d(0,-50%,0) rotate(-135deg);
}


.section--titulo{
    text-align: center;
    padding-top: 1rem;
    color: var(--azul-oscuro);
}
/* Reseña */

.vision{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blanco-azulado);
    height: 370px;
    gap: 1rem;
    color: var(--azul-oscuro);
}

.vision__articulo{
    background-color: var(--blanco);
    width: 90%;
    border-radius: .7rem;
    padding: 0 1rem;
}

.vision__parrafo{
    font-size: 1.5rem;
}

/* Nosotros */

.integrantes{
    display: flex;
    flex-direction: column;
    background-color: var(--blanco);
    height: 400px;
    gap: 1rem;
    color: var(--azul-oscuro);
}
.integrantes__box{
    display: flex;
    justify-content: space-around;
}
.integrante{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.ejemplo__img{
    background-color: var(--blanco-azulado);
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.integrantes__nombre{
    text-align: center;
}
.integrantes__vocacion{
    text-align: center;
    color: var(--azul);
    opacity: .4;
}

/* Contactenos */

.contactenos{
    display: flex;
    flex-direction: row;
    background-color: var(--blanco-azulado);
    height: 600px;
}

.contacto__form {
	display: flex;
	flex-direction: column;
	height: 90%;
	gap: 1rem;
	width: 40%;
}

.contacto__form label {
	display: flex;
	flex-direction: column;
}

.contacto__form textarea {
	border-radius: 6px;
	padding: .4rem;
	resize: none;
	outline: none;
	border: .1px solid #aaa;
}

.contacto__input {
	height: 1.5rem;
	border-radius: 6px;
	border: #aaa solid .1px;
	outline: none;
	padding-left: .4rem;
}

.contacto__img {
	object-fit: cover;
	height: auto;
	width: 55%;
}

/* .contacto__form input{

} */
.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--azul);
	background-color: var(--azul);
	border-radius: 6px;
	height: 3rem;
	padding: 0 .5rem;
	transition:all .5s;
	cursor: pointer;
	text-decoration: none;
	color: var(--blanco);
	font-size: 16px;
}

/* Precauciones */

.tips{
    color: var(--azul-oscuro);
    justify-content: center;
}

.tips__tip{
    display: flex;
    flex-wrap: nowrap;
    height: 300px;
    justify-content: space-around;
    align-items: center;
    padding: 0 2rem;
}
.tips__tip img, iframe{
    object-fit: contain;
    width: calc(60% - 4rem);
    height: 85%;
    border-radius: 1rem;
}
.tips__tip div p{
    margin: 0;
}
.tip__texto{
    display: flex;
    flex-direction: column;
    width: calc(40% - 1rem);
    height: 85%;
    gap: .8rem;
}
.tipAzul{
    background-color: var(--blanco-azulado);
}
.tipAzul__texto{
    order: 0;
}
.tipBlanco{
    background-color: var(--blanco);
}
.tipBlanco__texto{
    order: 1;
}